.landing {
	height: 24vh;
	
}

.donate-main {
	background: url("./assets/donate.jpg") no-repeat center;
	background-size: cover;
	padding: 10%;
	text-shadow: 2px 1px #333333;
}

.donate-blue {
	background: #d4c7d0;
}

.donate-form {
}

.font-body {
	font-size: 24px;
}

.font-main {
	font-size: 48px;
}

.cover {
	background: rgba(0, 0, 0, 0.7);
}
